body {
  background-color: #E4E0D4;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}



/* TYPOGRAPHY START */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 9rem;
}

.date h1 {
  font-size: 2.25rem;
}

h2 {
  font-family: 'Tinos', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.75rem;
}

.cover h2 {
  font-size: 1.75rem;
}

.date h2 {
  font-size: 1.5rem;
}

h3 {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
}

h4 {
  font-family: 'Tinos';
  font-style: normal;
}

.date h3 {
  font-weight: bold;
  font-size: 2.75rem;
}

.break h3 {
  font-weight: normal;
  font-size: 2rem;
}

p {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1.25rem;

}

.cover p {
  font-size: 1.25rem;
}

.date p {
  font-size: 1.5rem;
}
/* TYPOGRAPHY END */

/* SCROLL ANIMATION STRART */
.animated_scroll {
  top: 400px;
  left:700px;
  /* height: 40%; */
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  z-index: -2;

}

.date_animated {
  margin-right: 50px;
}

.year1995 {
  margin-bottom: -125px;
}

.year2017 {
  margin-bottom: -250px;
}

.year1989 {
  margin-bottom: -200px;
}

.year1976 {
  margin-bottom: -150px;
}
/* SCROLL ANIMATION END */

/* HEADER START */
header {
  max-width: 100vw;
  height: 1024px;
}

.cover_img {
  position: absolute;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;

  z-index: -1;
}

.cover {
  margin: 450px 250px 100px 250px;
}

.cover h2 {
  margin: 25px 0 25px 0;
}
/* HEADER END */

/* BREAK_01 START */
.break {
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated {
  display: flex;
  flex-direction: row;
}

.invisible {
  opacity: 0;
}

.invisible:hover {
  opacity: 1;
  transition: all .2s ease;
}
/* BREAK_01 END */

/* DATE_01 START */
.date {
  height: 1024px;
  margin: 0 250px 0 250px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.animated_scroll {
  top: 400px;
  left:700px;
  /* height: 40%; */
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  z-index: -2;

}

.date_still, .date_animated {
  margin-right: 50px;
}

.year1995 {
  margin-bottom: -125px;
}

.year2017 {
  margin-bottom: -250px;
}

.year1989 {
  margin-bottom: -200px;
}

.year1976 {
  margin-bottom: -150px;
}

/* ANIMATION START */





/* ANIMATION END */
