body {
  /* background-color: #E4E0D4; */
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}



/* TYPOGRAPHY START */
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 9rem;
}

.date h1 {
  font-size: 2.25rem;
}

.footer h1 {
  font-size: 2.25rem;
}

h2 {
  font-family: 'Tinos', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 1.75rem;
}

.cover h2 {
  font-size: 1.75rem;
}

.date h2 {
  font-size: 1.5rem;
}

h3 {
  font-family: 'Tinos';
  font-style: normal;
  font-weight: bold;
  font-size: 4rem;
}

h4 {
  font-family: 'Tinos';
  font-style: normal;
}

.date h3 {
  font-weight: bold;
  font-size: 2.75rem;
}

.break h3 {
  font-weight: normal;
  font-size: 2rem;
}

p {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 1.25rem;

}

.cover p {
  font-size: 1.25rem;
}

.date p {
  font-size: 1.5rem;
}
/* TYPOGRAPHY END */

/* SCROLL ANIMATION STRART */
.animated_scroll {
  top: 400px;
  left:700px;
  /* height: 40%; */
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  z-index: -2;

}

.date_animated {
  margin-right: 50px;
}

.year1995 {
  margin-bottom: -125px;
}

.year2017 {
  margin-bottom: -250px;
}

.year1989 {
  margin-bottom: -200px;
}

.year1976 {
  margin-bottom: -150px;
}
/* SCROLL ANIMATION END */

/* HEADER START */
header {
  /* max-width: 100vw; */
  height: 1024px;
}

.cover_img {
  width: 110%;
  position: absolute;
  width: auto;
  height: auto;
  left: 0px;
  top: 0px;

  z-index: -1;
}

.cover {
  margin: 450px 250px 100px 250px;
}

.cover h2 {
  margin: 25px 0 25px 0;
}
/* HEADER END */

/* BREAK_01 START */
.break {
  height: 512px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animated {
  display: flex;
  flex-direction: row;
}

.invisible  {
  opacity: 0;
}

.invisible:hover {
  opacity: 1;
  transition: all .2s ease-in-out;
}

.visible {
  position: absolute;
  margin-top: 20px
  opacity: 1;
}

.visible:hover {
  opacity: 0;
  transition: all .2s ease-in-out;
}
/* BREAK_01 END */

/* DATE_01 START */
.date {
  height: 1024px;
  margin: 200px 250px 0 250px;

  display: flex;
  justify-content: space-between;

}

.left {
  flex-direction: row;
}

.right {
  flex-direction: row-reverse;
}

.date_year {

  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.date_text {
  height: 600px;
  width: 450px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.date_text h1 {
  padding-bottom: 20px;
}

.date_text p {
  padding-bottom: 50px;
}

.border {
  border-top: 2px solid black;

  padding-top: 50px;
}

/* DATE_01 END */


.not {
  padding-top: 50px;
}
.animated_scroll {
  top: 400px;
  left:700px;
  /* height: 40%; */
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;

  z-index: -2;

}
/* BREAK_02 END */

.date_still, .date_animated {
  margin-right: 50px;
}

.year1995 {
  margin-bottom: -125px;
}

.year2017 {
  margin-bottom: -250px;
}

.year1989 {
  margin-bottom: -200px;
}

.year1976 {
  margin-bottom: -150px;
}

/* DATE HOVERS START */

.bot {
  margin-top: 340px;
}



.date_img {
  position: absolute;
  z-index: -1;
}

.img01 {
  top: 1400px;
  left: 140px;
}

.img02 {
  top: 3200px;
  left: -20px;
}

.img03 {
  top: 5000px;
  left: 500px;
}

.img04 {
  top: 6700px;
  left: 500px;
}

#a {
  display: block;
}

#a:hover + #b {
  display: block;
  transition: all .3s ease;
}

#b {
  display: none;
}
/* DATE HOVERS END */

/* FOOTER START */
footer {
  height: 512px;

  margin: 0 250px 50px 250px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer p, h1, h3 {
  margin-bottom: 20px;
}
